<section class="resume-section" id="experience">
  <div class="resume-section-content">
    <h2 class="mb-5">Experience</h2>
    {%for item in site.data.experience%}
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">

      <div class="flex-grow-1">

        <h3 class="mb-0">{{item.position}}</h3>
        <div class="subheading mb-3">{{item.companyName}}</div>
        <p>{{item.description}}</p>
      </div>
      <div class="flex-shrink-0"><span class="custom-text">{{item.date}}</span></div>
    </div>
    {%endfor%}

  </div>
</section>