


<section class="resume-section" id="projects">
  <div class="resume-section-content">
    <h2 class="mb-5">Projects</h2>
    <div class="row">
      <div class="col-xl-12">
        <ul class="timeline-list">
          <!-- Single Experience -->
          {% for item in site.data.projects%}
          <li>
            <div class="timeline_content ">
              <h4>{{item.name}}</h4>
              <p>{{item.description}}</p>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>