//----------------- main media query -----------------

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding: 5rem 3rem;
    margin-left: 20%
  }
}

@media (min-width: 1200px) {

  h1,
  .h1 {
    font-size: 6rem;
  }
}

@media (min-width: 1200px) {

  h2,
  .h2 {
    font-size: 3.5rem;
  }
}

@media (min-width: 1200px) {

  h3,
  .h3 {
    font-size: 2rem;
  }
}

@media (min-width: 1200px) {

  h4,
  .h4 {
    font-size: 1.5rem;
  }
}

@media (min-width: 576px) {

  .container-sm,
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {

  .container-md,
  .container-sm,
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {

  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {

  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {

  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1320px;
  }
}


//----------------- navbar media query -----------------
@media (min-width: 992px) {

  /*makes nav bar to side */
  #sideNav {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }

  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }

  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }

  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }

  /*makes nav item to column*/
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }


  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }

  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}


//----------------- contact form media query -----------------
@media (max-width: 850px) {
  .form {
    display: grid;
    grid-template-columns: 1fr !important;
  }

  .contact_info:before {
    bottom: initial;
    top: -75px;
    right: 65px;
    transform: scale(0.95);
  }

  .contact_form:before {
    top: -13px;
    left: initial;
    right: 70px;
  }

  .text {
    margin: 1rem 0 1.5rem 0;
  }
}

@media (max-width: 480px) {
  .form_area {
    padding: 1.5rem;
  }

  .contact_info:before {
    display: none;
  }

  form, .contact_info {
    padding: 1.7rem 1.6rem;
  }

  .text, .information, .social_media p {
    font-size: 0.8rem;
  }

  .title {
    font-size: 1.15rem;
  }

  .social-icons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .icon {
    width: 23px;
  }

  .input {
    padding: 0.45rem 1.2rem;
  }

  .sendBtn {
    padding: 0.45rem 1.2rem;
  }
}



