<!doctype html>
<html lang="en">
<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-FESZ65698T"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'G-FESZ65698T');
  </script>

  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{site.title}}</title>

  {% include css.html %}

</head>


<body>
{% include navbar.html%}

{% include about.html%}

{% include education.html%}

{% include skills.html%}

{% include interests.html%}

{%include projects.html%}

{% include contact_form.html%}

<!--{%include experience.html%}-->

{% include js.html%}


</body>
</html>